<h1 mat-dialog-title>Informações do {{ data.nome }}</h1>
<div mat-dialog-content>
    <p>CPF: {{ data.cpf }} </p>
    <p>Telefone: {{ data.telefone }}</p>
    <p *ngFor="let endereco of data.enderecos">
        Endereço: {{ endereco.rua }}, {{ endereco.num }}, {{ endereco.bairro }}
    </p>
    <p *ngFor="let preferencia of data.preferencias">
        Preferências: {{ preferencia.periodo }}, {{ preferencia.material }}
    </p>
</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial color="primary"> OK </button>
</div>
