<span>
  <a routerLink="/">
    <img class="img" src="assets/imagens/home_corrida.png" alt="img"/>
  </a>
</span>

<span>
  <button class="conta" (click)="menu()">Criar uma Conta</button>
</span>

<span>
  <button class="botoes" (click)="local()"><img src="assets/imagens/local.png" alt="local"></button>
</span>

<span>
  <button class="botoes" (click)="pref()"><img src="assets/imagens/pref.png" alt="local"></button>
</span>

<span>
  <button class="botoes" (click)="pessoa()"><img src="assets/imagens/pessoa.png" alt="local"></button>
</span>

<span>
  <button class="botoes" (click)="exercicio()"><img src="assets/imagens/exercicio.png" alt="local"></button>
</span>
